/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.h-27em {
	height: 27em !important;
}

.h-29em {
	height: 29em !important;
}

.border-search-btn {
	border-radius: 0 9px 9px 0;
}

.w-33em {
	width: 33em !important;
}



.font-thin {
	font-weight: 200;
}

.w-12em {
	width: 12em !important;
}

.rotate-180 {
	transform: rotate(180deg);
}

.resize-none {
	resize: none !important;
}

.w-6em {
	width: 6em !important;
}

.h-6em {
	height: 6em !important;
}

.border-radius-custom {
	border-radius: 0 0.475rem 0.475rem 0 !important;
}

.border-radius-custom2 {
	border-radius: 0.475rem 0 0 0.475rem !important;
}

.box-shadow-none {
	box-shadow: none !important;
}

.border-search-input {
	border-radius: 9px 0 0 9px;
}

.card-subcategory {
	max-width: 14em;
    height: 3em;
    display: flex;
	gap: 8px;
    align-items: center;
	justify-content: center;
}

.card-brandd {
	width: 8em;
	height: 8em;
}

.text-xs {
	font-size: x-small;
}

.text-sm {
	font-size: small;
}

.text-lg {
	font-size: large;
}

.h-16em {
	height: 16em !important;
}

.min-h-16em {
	min-height: 16em !important;
}

.min-h-13em {
	min-height: 13em !important;
}

.w-16em {
	width: 16em !important;
}

.w-inherit {
	width: inherit !important;
}

.w-30\% {
	width: 30% !important;
}

.pointer-card {
	width: 7px;
    height: 41px;
    border-radius: 0 8px 8px 0;
    position: absolute;
    left: 0;
    top: 10px;
}

.pointer-card-sm {
	width: 5px;
    height: 30px;
    border-radius: 0 6px 6px 0;
    left: 0;
    top: 0;
}

.overflow-y-scroll {
	overflow-y: scroll !important;
}

.mb-12em {
	margin-bottom: 12em !important;
}

.w-26em {
	width: 26em !important;
}

.overflow-x-hidden {
	overflow-x: hidden !important;
}

.w-23\% {
	width: 23% !important;
}

.pointer-card-container {
	height: 100%;
	position: absolute;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.w-10em {
	width: 10em !important;
}

.w-15em {
	width: 15em !important;
}

.w-3em {
	width: 3em !important;
}

.cursor-not-allowed {
	cursor: not-allowed !important;
}

.opacity-40 {
	opacity: .4 !important;
}

.opacity-50 {
	opacity: .5 !important;
}

.rounded-full {
	border-radius: 50% !important;
}

.card-chat, .card-chat-reverse {
    background-color: #e0e0e0;
    padding: 7px;
    max-width: 73%;
    color: #0c0b0b;
    margin-top: 2px;
}

.card-chat {
    border-radius: 10px 0 10px 10px;
}

.card-chat-reverse {
    border-radius: 0px 10px 10px 10px;
}

.pb-5em {
	padding-bottom: 5em !important;
}

.bg-bajaga-primary {
    background-color: #15314F;
}

.text-bajaga-primary {
    color: #15314F;
}

.h-5em {
	height: 5em !important;
}

.w-5em {
	width: 5em !important;
}

.w-8em {
	width: 8em !important;
}

.h-8em {
	height: 8em !important;
}

.hover-opacity-65:hover {
	opacity: .65;
}

.w-22em {
	width: 22em !important;
}

.hover-bg-aliceblue:hover{
	background-color: aliceblue !important;
}

.w-14em {
	width: 14em !important;
}

.bg-aliceblue {
	background-color: aliceblue !important;
}

.bg-aliceblue2 {
	background-color: rgb(162, 201, 235) !important;
}

.font-bold {
	font-weight: bold !important;
}

.font-semibold {
	font-weight: 600;
}

.text-md {
	font-size: medium;
}

.w-5rem {
    width: 5rem !important;
}

.w-4rem {
    width: 4rem !important;
}

.w-7rem {
	width: 7rem !important;
}

.text-capitalized {
	text-transform: capitalize;
}

.mt-6em {
	margin-top: 6em !important;
}

.pb-10em {
	padding-bottom: 10em !important;
}

.h-29rem {
	height: 29rem !important;
}

.w-13rem {
    width: 13rem !important;
}

.h-13rem {
    height: 13rem !important;
}

.h-4rem {
    height: 4rem !important;
}

.hr-list-bg{
	height: 5px !important;
	border: 1em !important;
	background-color: #cfcfcf !important;
}

.opacity-65 {
	opacity: .65;
}

.w-20\% {
	width: 20% !important;
}
.icon-size-1 {
    width: 12px;
}
.icon-size-19px {
    width: 19px;
}
.icon-size-2 {
    width: 22px;
}
.icon-size-3 {
    width: 30px;
}
.icon-size-4 {
    width: 42px;
}
.icon-size-5 {
    width: 52px;
}

.px-7rem {
	padding-right: 7rem !important;
    padding-left: 7rem !important;
}

.w-3rem {
	width: 3rem !important;
}

.h-3rem {
	height: 3rem !important;
}

.h-5rem {
    height: 5rem !important;
}

.pb-10em {
	padding-bottom: 10em !important;
}

.min-w-3em {
	min-width: 3em !important;
}

.h-screen {
	height: 100vh;
}

.h-5px {
	height: 5px !important;
}

.text-xl {
	font-size: x-large;
}
.text-2xl {
	font-size: xx-large;
}

.object-fit-cover {
	object-fit: cover;
}

.cursor-pointer {
	cursor: pointer;
}

.h-33em {
	height: 33em !important;
}

.w-18em {
	width: 18em !important;
}

.h-17em {
	height: 17em !important;
}

.w-1\.5em {
	width: 1.5em !important;
}

.h-1\.5em {
	height: 1.5em !important;
}

.h-7em {
	height: 7em !important;
}

.h-23em {
	height: 23em !important;
}

.h-screen {
	height: 100vh !important;
}

.w-50\%{
	width: 50% !important;
}

.card-address, .card-bank-mini {
    min-width: 16em;
    height: 10em;
    padding: 13px;
    border: 1px solid #adabab;
    border-radius: 9px;
}

.card-bank-mini.active {
	display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(45deg, #1b283b, #1b283bd1, #212529ba);
    color: white;
    border-radius: 9px;
}

.card-address.active {
    background-color: rgba(62, 116, 253, 0.05);
    border: 1px solid #3E74FD;
}

.card-style {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem 1.5rem 1rem !important;
	height: 13em;
    border-radius: 1em;
    align-items: flex-end !important;
    padding-bottom: 1.5em !important;
    /* background: rgb(33,57,116); */
    background: linear-gradient(32deg, rgb(29 55 117) 0%, rgba(21,49,79,1) 0%, rgb(21 49 79 / 67%) 100%);
}

.h-8em {
	height: 8em !important;
}

.h-18em {
	height: 18em !important;
}

.w-30\% {
	width: 30% !important;
}

.px-8em {
	padding-left: 8em !important;
	padding-right: 8em !important;
}

.pt-2em {
	padding-top: 2em !important;
}

.left-0 {
	left: 0 !important;
}


.bullet-tracker, .bullet-tracker-line {
	position: relative;
    background-color: #15314F;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-top: 4px;
}

hr.dashed {
    border-top: 2px dashed rgb(165, 165, 165);
}

.h-7px {
	height: 7px !important;
}

#timeline {
    position: relative;
}

#timeline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 22px;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #15314F;
}

.rounded-13px {
	border-radius: 13px;
}

.px-5em {
	padding-left: 5em !important;
	padding-right: 5em !important;
}

.pt-3em {
	padding-top: 3em !important;
}

.w-24\% {
	width: 24% !important;
}

.big-checkbox {
	width: 18px !important;
	height: 18px !important;
}

.w-2em {
	width: 2em !important;
}

.right-0 {
	right: 0;
}

.h-13em {
	height: 13em !important;
}

.h-4em {
	height: 4em !important;
}

.w-4em {
	width: 4em !important;
}

.-top-15px {
	top: -15px !important;
}

.min-h-29em {
	min-height: 29em !important;
}

.rotate-90 {
	transform: rotate(90deg) !important;
}

.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.z-30 {
	z-index: 30;
}

.text-emas {
	color: rgb(246, 215, 63);
}

.w-80\% {
	width: 80% !important;
}

.h-3em {
	height: 3em !important;
}

.font-icon-size-1 {
    font-size: 12px;
}
.font-icon-size-2 {
    font-size: 22px;
}
.font-icon-size-3 {
    font-size: 30px;
}
.font-icon-size-4 {
    font-size: 42px;
}
.font-icon-size-5 {
    font-size: 52px;
}

/* animate cart done */
.animate-cart-done {
	/* transform: rotate(90deg); */
	animation: cart_done 4s linear;
}

@keyframes cart_done {
	0% {
		transform: rotate(-18deg);
	}
	15% {
		transform: rotate(18deg);
	}
	35% {
		transform: rotate(-18deg);
	}
	65% {
		transform: rotate(18deg);
	}
	85% {
		transform: rotate(-18deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
/* animate cart done */