/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.font-xl {
	font-size: x-large;
}

.hover-bg-aliceblue:hover {
    background-color: aliceblue !important;
}

.font-lg {
	font-size: larger;
}

.font-sm {
    font-size: small;
}

.font-16px {
    font-size: 16px;
}

.font-smaller {
    font-size: smaller;
}

.font-medium {
    font-size: medium;
}

.font-xs {
    font-size: x-small;
}

.font-bold {
    font-weight: bold;
}

.font-thin {
    font-weight: 300;
}

.fs-14px {
    font-size: 14px
}

.text-capitalize {
    text-transform: capitalize;
}

.line-normal {
    line-height: normal;
}

.rounded-lg {
    border-radius: 0.5rem; /* 8px */
}

.rounded-full {
    border-radius: 100%; /* 8px */
}

.w-4em {
    width: 4em;
}

.py-0\.5 {
    padding-top: 0.125rem; /* 2px */
    padding-bottom: 0.125rem; /* 2px */
}

.pb-10em {
    padding-bottom: 10em;
}


.icon-size-1 {
    width: 12px;
}
.icon-size-19px {
    width: 19px;
}
.icon-size-2 {
    width: 22px;
}
.icon-size-3 {
    width: 30px;
}
.icon-size-4 {
    width: 42px;
}
.icon-size-5 {
    width: 52px;
}

.font-icon-size-1 {
    font-size: 12px;
}
.font-icon-size-2 {
    font-size: 22px;
}
.font-icon-size-3 {
    font-size: 30px;
}
.font-icon-size-4 {
    font-size: 42px;
}
.font-icon-size-5 {
    font-size: 52px;
}

.-mt-0.\5 {
    margin-top: -5px;
}

.h-55\% {
    height: 55% !important;
}

.text-emas {
    color: #f89629;
}

.-mt-0.\8 {
    margin-top: -8px;
}

.-mt-1 {
    margin-top: -10px;
}

.mt-10em{
    margin-top: 10em;
}

.line-height-1{
    line-height: 1em;
}

.line-height-16px {
    line-height :16px;
}

.w-20 {
    width: 5rem; /* 80px */
}

.w-9\.5em{
    width: 9.5em;
}

.min-w-9\.5em{
    min-width: 9.5em;
}

.min-w-2\.5em{
    min-width: 2.5em;
}

.w-28 {
    width: 7rem; /* 112px */
}

.w-13rem {
    width: 13rem !important;
}

.h-13rem {
    height: 13rem !important;
}

.text-capitalized {
    text-transform: capitalize;
}

.w-10 {
    width: 2.5rem; /* 40px */
}

.w-15 {
    width: 4rem; /* 40px */
}

.w-9px {
    width: 9px !important;
}

.h-15 {
    height: 4rem; /* 112px */
}

.h-6rem {
    height: 6rem;
}

.h-7rem {
    height: 7rem;
}

.h-28 {
    height: 7rem; /* 112px */
}

.w-5 {
    width: 1.5rem; /* 24px */
}

.h-5 {
    height: 1.5rem; /* 24px */
}

.h-30 {
    height: 9rem; /* 112px */
}

.h-10 {
    height: 2.5rem; /* 40px */
}

.h-20 {
    height: 5rem; /* 80px */
}

.h-90 {
    height: 90% !important;
}

.h-31{
    height: 11.2rem;
}

.h-screen {
    height: 100vh !important;
}

.object-fit-cover {
    object-fit: cover;
}

.pl-3 {
    padding-left: 1em;
}

.-z-2{
    z-index: -2;
}

.z-10{
    z-index: 10;
}

.z-20{
    z-index: 20;
}

.z-30{
    z-index: 30;
}

.-bottom-119px {
    bottom: -119px;
}

.pt-4\.5rem {
    padding-top: 4.5rem !important;
}

.pb-3\.5em {
    padding-bottom: 3.5em;
}

.pdb-6{
    padding-bottom: 60px !important;
}

.left-9em {
    left: 9em;
}

.top-15px {
    top: 15px;
}

.w-11em {
    width: 11em;
}

.max-w-10 {
    max-width: 10em;
}

.left-7\.5em {
    left: 7.5em;
} 

.top-12px {
    top: 12px;
}

.w-9em {
    width: 9em;
}

.h-6\.5em {
    height: 6.5em;
}

.top-40px {
    top: 40px;
}

.max-w-100 {
    max-width: 100%;
}

.sparator{
    border: 1px solid #00000012;
}

.-right-12px {
    right: -12px;
}

.-left-12px {
    left: -12px;
}

.bottom-7 {
    left: 7px;;
}

.left-10 {
    left: 10px;;
}

.opacity-65 {
    opacity: .65;
}

.hover-opacity-65:hover {
    opacity: .65;
}

a:hover {
    opacity: .65 !important;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.h-29vh {
    height: 29vh !important;
}

.h-11vh {
    height: 11vh !important;
}

.search_padding {
    padding: 0 10px !important;
}

.hover-click-alice {
    background-color: aliceblue;
}

.hover-alice:hover {
    background-color: aliceblue;
    transition: all 0.8 ease-in-out;
}

.min-h-29em {
    min-height: 29em !important;
}

.bg-aliceblue {
    background-color: aliceblue !important;
}

.max-w-73\%{
    max-width: 73%;
}

.w-90\%{
    width: 90%;
}
.bg-comment {
    background: #9292aa;
}

.animate-rotate {
    transform: rotate(180deg);
    transition: all .8s ease-in-out;
}
/* ============================================== */

.card-chat, .card-chat-reverse {
    background-color: #e0e0e0;
    padding: 7px;
    max-width: 73%;
    color: #0c0b0b;
    margin-top: 2px;
}

.card-chat {
    border-radius: 10px 0 10px 10px;
}

.card-chat-reverse {
    border-radius: 0px 10px 10px 10px;
}

.section-category {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 1em;
    padding: 10px 0 2em 5px;
    padding-left: 1em;
}

.section-category .container-card {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    /* display: flex; */
    /* align-content: flex-start; */
    gap: 1em;
}

.card-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10em;
    height: 10em;
}

.card-brand {
    display: flex;
    box-shadow: 7px 7px 17px 4px rgba(92,80,80,0.20);
    -webkit-box-shadow: 7px 7px 17px 4px rgb(92 80 80 / 20%);
    -moz-box-shadow: 7px 7px 17px 4px rgba(92,80,80,0.20);
    flex-direction: column;
    align-items: center;
    min-width: 10em;
    height: 10em;
    border-radius: 10px;
}

.card-category span, .card-brand span {
    font-weight: bold;
    font-size: small;
}

.container-img-card-category, .container-img-card-brand {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

img.category-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-slide {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    overflow: scroll;
    gap: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
}

.section-card-vertical {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section-slide .container-card {
    min-width: 10em;
    max-height: 20em;
    background-color: whitesmoke;
    border-radius: 15px;
    overflow: hidden;
}

.section-card-vertical .container-card {
    width: 100%;
    max-height: 19em;
    background-color: whitesmoke;
    border-radius: 15px;
    overflow: hidden;
}

.w-47\% {
    width: 47% !important;
}

.section-slide .container-card .container-img img, .section-card-vertical .container-card .container-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-slide .container-card .container-img, .section-card-vertical .container-card .container-img {
    width: 100%;
    height: 8.8em;
    overflow: hidden;
}

.logo-sm {
    width: 16px;
    height: 16px;
}

.bg-bajaga-primary {
    background-color: #15314F !important;
}

.text-bajaga-primary {
    color: #15314F !important;
}

body.dark-mode-active .card-brand,  body.dark-mode-active .card-brand span{
    background-color: whitesmoke !important;
    color: #1b283b;
}

body.dark-mode-active label {
    color: whitesmoke !important;
}

body.dark-mode-active svg {
    fill: whitesmoke !important;
}

body.dark-mode-active .appHeader {
    background: #15314F !important;
    border: none !important;
}

.h-12px {
    height: 12px !important;
}

.w-12px {
    width: 12px !important;
}

body.dark-mode-active .card-dark-mode, body.dark-mode-active .description-product , body.dark-mode-active .bg-aliceblue {
    background: #15314F !important;
    border: none !important;
}

body.dark-mode-active .bg-dark-mode, body.dark-mode-active .bg-white {
    background: #0f1c24 !important;
}

body.dark-mode-active .bg-dark-mode-2 {
    background: #0c1624  !important;
}

svg.favicon-mobile-profile {
    display: none !important;
}

body.dark-mode-active svg.favicon-mobile-profile {
    display: inline !important;
}

body.dark-mode-active img.favicon-mobile-profile {
    display: none !important;
}

body.dark-mode-active .text-body, body.dark-mode-active .text-dark, body.dark-mode-active .text-black, body.dark-mode-active .text-secondary , body.dark-mode-active i ,body.dark-mode-active button.btn-close , body.dark-mode-active h2, body.dark-mode-active .text-bajaga-primary {
    color: whitesmoke !important;
}

hr.dashed-custom {
    border-top: 1px dashed rgb(165, 165, 165);
}

.bullet-tracker, .bullet-tracker-line {
    position: relative;
    background-color: #15314F;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

#timeline {
    position: relative;
}

#timeline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 22px;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #15314F;
}

.-bottom-28px {
    bottom: -28px !important;
}

.h-5rem {
    height: 5rem !important;
}

.h-3rem {
    height: 3rem !important;
}

.-bottom-44px {
    bottom: -44px !important;
}

.bg-sky {
    background-color: #f5f7fb;
}

.badge-card-product {
    width: fit-content;
    padding: 3px;
}

.description-product div * {
    margin-top: 3px;
}

.description-product i {
    margin-right: 4px;
    color: rgb(248, 155, 33);
}

.profile-avatar {
    user-select: auto;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    overflow: hidden;
}

.w-full {
    width: 100%;
}

.label-form-profile {
    width: 86px;
    min-width: 86px;
}

.vl {
    border-left: 1px solid rgb(100 100 100 / 64%);
    height: 3em;
}

.bg-notification-active {
    background-color: hsla(209, 84%, 85%, 0.37);
}

.container-custom {
    margin-top: -1.6em; 
    min-height: 83vh;
}

.image-toko {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.6px solid rgb(150, 149, 149);
    overflow: hidden;
}

.image-toko img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-checkbox {width: 20px; height: 20px;}

.card-address, .card-bank-mini {
    min-width: 16em;
    height: 10em;
    padding: 13px;
    border: 1px solid #adabab;
}



.card-address.active {
    background-color: rgba(62, 116, 253, 0.05);
    border: 1px solid #3E74FD;
}

.h-65 {
    height: 65% !important;
}

.w-3em {
    width: 3em !important;
}

.h-3em {
    height: 3em !important;
}

.w-90\% {
    width: 90% !important;
}

.h-8em {
    height: 8em !important;
}

.h-10em {
    height: 10em !important;
}

.w-2em {
    width: 2em !important;
}

.h-2em {
    height: 2em !important;
}

.bg-dark-transparant {
    background-color: #2222227a !important;
}

.card-bank-mini.active {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(45deg, #1b283b, #1b283bd1, #212529ba);
    color: white;
}

.bg-header-opacity {
    background-color: rgba(62, 116, 253, 0.15);
}

.form-custom-radio {
    width: 22px;
    height: 22px;
}

.wave-top {
    position: absolute;
    top: -28px;
    z-index: -2;
}

.active-header {
    background-color: white;
    border: 1px solid rgb(164, 162, 162);
    transition: all 250ms ease-out;
}

.active-header-items {
    fill: rgb(8, 7, 18);
    transition: all 250ms ease-out;
}

.bullet-number {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    padding: 2px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #1E74FD !important;
    color: azure;
}

.text-body {
    color: #4f5050 !important;
}

button.padding-tab-navs-icon {
    padding: 10px 2.7em;
}

.carousel-image-custom {
    height: 20em;
    width: 100%;
    overflow: hidden;
}

div.carousel-image-custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow-cupon {
    box-shadow: 0px 2px 5px 0px rgba(168,160,160,0.61);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(168,160,160,0.61);
    -moz-box-shadow: 0px 2px 5px 0px rgba(168,160,160,0.61);
}

.pill-nav {
    min-width: 9em;
    line-height: 2;
    max-height: 2.8em;
}

.w-21\.2em{
    width: 21.2em;
}

.w-14em {
    width: 14em;
}

.transition-all {
    transition: all 300ms ease-out;
}

/* loader checkdone animation */
.loader-custom-bajaga {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid rgba(92, 203, 157, 0.237);
    border-left: 2px solid rgb(92, 203, 157);
    animation: rotate 1.5s linear infinite;
}

.container-check {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.check {
    width: 30px;
    height: 60px;
    border-top: 3px solid rgb(92, 203, 157);
    border-left: 3px solid rgb(92, 203, 157);
    transform: rotate(220deg);
    margin-bottom: 20px;
    animation: checkanimation 0.8s ease-out;
}

.stop-animation{
    border: 2px solid rgb(92, 203, 157);
    transition: border 0.8s ease-out;
}

.text-love {
    color: rgb(211, 77, 77);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkanimation {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    30% {
        width: 25;
        height: 0;
        opacity: 1;
    }

    50% {
        width: 30;
        height: 60;
        opacity: 1;
    }
}

.dont-show-info {
    opacity: 0;
}

.show-info {
    opacity: 1;
    transition: opacity 0.8s ease-out;
}

/* loader checkdone animation */

.collapse .show {
    transition: all 300ms ease-out;
}

.rotate-90 {
    transform: rotate(90deg);
}

.-rotate-90 {
    transform: rotate(-90deg);
}

.w-39\% {
    width: 39%;
}

.spinner-custom {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .spinner-custom div {
    position: absolute;
    top: 33px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #15314F;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .spinner-custom div:nth-child(1) {
    left: 8px;
    animation: b1 0.6s infinite;
  }
  .spinner-custom div:nth-child(2) {
    left: 8px;
    animation: b2 0.6s infinite;
  }
  .spinner-custom div:nth-child(3) {
    left: 32px;
    animation: b2 0.6s infinite;
  }
  .spinner-custom div:nth-child(4) {
    left: 56px;
    animation: b3 0.6s infinite;
  }
  @keyframes b1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes b3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes b2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }